# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local
node_modules
dist
dist-ssr
build
/bin

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# If for any reason you decide to use a different package manager, we'll ignore the lock file
package-lock.json
yarn.lock
pnpm-lock.yaml

*.cache
