
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;

  --animation-duration: 0.2s;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letter-container {
  font-size: 50vmin;
  line-height: 0.5;
}

.shape {
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;

  animation: scaleIn var(--animation-duration) ease-in-out;
}

@keyframes scaleIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.letter {
  font-weight: bold;

  animation: scaleIn var(--animation-duration) ease-in-out;
}
