#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letter-container {
  font-size: 50vmin;
  line-height: 0.5;
}

.shape {
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
}

.letter {
  font-weight: bold;
}
